/*---index---*/
.addrbtn{color: #fff;padding: 3px 10px;line-height: 20px;border-radius: 3px;background: #97cf48;cursor:pointer;float:right;margin-right: 20px;}
dl,dt,dd {	margin: 0;	padding: 0;	list-style-image: none;	list-style-type: none;}
.xadd00 {width: 950px;display: block;height: 95px;margin: 0 0 5px 0;background: url(/images/xaddress.gif) no-repeat 0 0;}
.xadd01 {width: 950px;display: block;height: 95px;margin: 0 0 5px 0;background: url(/images/xaddress.gif) no-repeat 0 -150px;}
.xadd_dl {width:950px; display:block;  height:95px; overflow:hidden;}
.xadd_dl dt{ width:25px; float:left; line-height:95px; padding:0 0 0 10px; }
.xadd_shop { width:160px; float:left; overflow:hidden; margin:30px 10px 0 0;  font-weight:bold;}
.xadd_shop i {line-height:24px; padding:0 10px 2px 10px;display:block;font-size:18px;font-style:normal; }
.xadd_address { width:400px; float:left; overflow:hidden; margin:12px 20px 0 0; font-size:18px;}
.xadd_address h3 {display:block; font-size:18px;margin:0;padding:0; line-height:25px;}
.xadd_address em {display:block; font-style:normal;  font-size:16px; line-height:18px;}
.xadd_address i {display:block; font-style:normal; font-size:12px; line-height:18px; color:#aaa;}
.xadd_address i b {font-weight:bold;}
.xadd_address i span {font-weight:bold; padding:0 0 0 20px;}
.xadd_contact {width:200px;float:left; margin:25px 10px 0 0; }
.xadd_contact em {display:block; font-style:normal;  font-size:18px; line-height:20px;}
.xadd_contact em span {font-size:14px;}
.xadd_contact i {display:block; font-style:normal;  font-size:20px;line-height:20px;}
.xadd_op {width:100px; float:left; line-height:95px; font-size:14px;}
.xadd_op a {display:none; text-decoration:none; color:#333; float:left; margin:0 5px 0 0;}
.xadd_dl:hover .xadd_op a {display:block; float:right;} 
.xadd_dl:hover .xadd_op a:hover {color:#f5008c;} 

.xsele00 {border:1px solid #eee;}
.xsele00:hover {border:1px solid #f5008c;}
.xsele01 {border:1px solid #f5008c;}
.xsele01 .xadd_shop i { background-color:#f5008c; color:#fff; font-style:normal; float:left;}


.ep_search {display:block; width:220px; height:30px; position:relative; float:right;}
.ep_search input {width:160px; height:24px; border:1px solid #eee; line-height:26px; font-size:16px; padding:0 0 0 5px; float:left; border-radius:4px 0 0 4px;}
.ep_search input:focus { border: 1px solid #ddd; -webkit-box-shadow: inset 0px 0px 3px #eee; box-shadow: inset 0px 0px 3px #eee; }
.ep_search a:link,.ep_search a:visited{display:block; width:60px; height:26px; background-color:#00b8d4; color:#fff; text-align:center; line-height:26px; font-size:16px; position:absolute; top:0;right:0; border-radius:0 4px 4px 0;font-weight:normal; }
.ep_search a:hover {background-color:#ff4081;}

a.ep_bt66:link,a.ep_bt66:visited{display:block; width:80px; height:26px; background-color:#00b8d4; color:#fff; text-align:center; line-height:26px; font-size:16px; border-radius:4px; float:right; margin:0 5px 0 5px; font-weight:normal;background-image:url(images/ep_plus.png); background-repeat:no-repeat;  padding:0 0 0 15px;}
a.ep_bt66:hover {background-color:#ff4081;}
.ep_plus{background-position:9px 9px;}
.ep_sub{background-position:9px -22px;}

.listheighthide{height:306px;overflow: hidden;}

.listheightshow{height:306px;overflow: hidden;}
/*---outletcart---*/