body { background: url(http://img1.51aika.com/abl/Images/bodybg.png); font:12px/1.5 verdana,"\5FAE\8F6F\96C5\9ED1",Arial,HELVETICA;color:#73818c;}
body,form,h1,h2,h3,h4,h5,div,ul,dl,dd,dt,ol,input,button,p{ margin:0; padding:0;}
input,button,select,textarea{outline:none}
ul,dl,ol {list-style:none}
i,em,u{ font-style:normal; font-weight:normal;}
input{vertical-align:middle;outline:none;}
textarea{vertical-align:top;outline:none;resize:none;}
img{border:0; outline:none;vertical-align:bottom;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block; }
command,datalist,keygen,mark,meter,progress,rp,rt,ruby,time,wbr{display:inline;}

.b{border:1px solid #E4E9EC; background:#fff}
.bt{border:1px solid #B0D4EC;border-top:2px solid #B0D4EC;}

a{color:#73818c;text-decoration:none;}
a:hover{color:#ec0085;}


/*float*/
.l{float:left;}
.r{float:right;}

/*clear*/
.c{clear:both;}
.clear {clear:both;}

/*display*/
.dis{display:none;}

/*color*/
.color_red {color:red;}
.color_white {color:white;}


/*padding*/
.pt0 {padding-top:0px;}
.pt10{padding-top:10px;}
.pt15 {padding-top:15px;}
.pt20{padding-top:20px;}
.pl0 {padding-left:0px;}
.pl10 {padding-left:10px;}
.pl15 {padding-left:15px;}
.pl20 {padding-left:20px;}
.pr0 {padding-right:0px;}
.pr10 {padding-right:10px;}
.pr15 {padding-right:15px;}
.pr20 {padding-right:20px;}
.pb0 {padding-bottom:0px;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}
.pb20 {padding-bottom:20px;}
.p10{padding:10px;}
.p20{padding:20px;}

/*margin*/
.mt0 {margin-top:0px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.ml0 {margin-left:0px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.mr0 {margin-right:0px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mb0 {margin-bottom:0px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.m0{margin:0px;}
.m10{margin:10px;}
.m20{margin:20px;}
.mc{margin:0 auto;}

/*position*/
.position_re {position:relative;}

/*width*/
.wrap {margin-left:auto; margin-right:auto; width:1002px;}
.wrapmax  {margin-left:auto; margin-right:auto; width:1200px;}
.clearfix:after { content:""; display:block; clear:both; visibility:hidden; height:0; font-size:0}
.clearfix {*display:inline-block; _height:1%}
/*font*/
.meifont { color:#ec0085}
.redfont { color:#F00}
.greenfont { color:#0C0}
.orgfont { color:#F60}
.bluefont { color:#24a3c7}
/*top notice*/
.site-notice { background:#fff;}
.site-notice .txt {height:30px;line-height:30px;width: 932px;padding: 0 35px;margin: 0 auto;border-left: 1px solid #ffdd95;border-right: 1px solid #ffdd95;border-bottom: 1px solid #ffdd95;background: #fff6bd;font-size: 14px;color:#d70078;position: relative;}
.site-notice .ico-tips, .site-notice .ico-close {background: url(http://img1.51aika.com/abl/Images/site_notice.png) no-repeat;display: inline-block;width: 12px;height: 12px;overflow: hidden;vertical-align: middle;position: absolute;}
.site-notice .ico-close {background-position: -12px 0;top: 8px;right: 6px;}
.site-notice .ico-tips {left: 11px;top: 9px;}
.site-notice a { color:#F00; font-size:14px; font-weight:bold}
/*header*/
#header { background:#FFF}
#content { margin-bottom:30px;}
.topbar a:link { color:#888}
.topbar a:hover { color:#ec0085}
.topbar { background: url(http://img1.51aika.com/abl/Images/top_bar_bg.png); height:40px; line-height:40px; color:#808080;}
.topbar .userinfo { width:700px; float:left; }
.topbar .userinfo span { color:#ec0085}
.topbar .mymenu { float:right;}
.topbar .mymenu a span {color:#ec0085}
.logobox { height:110px;}
/*.logobox .logo { width:280px; height:89px; background:url(http://img1.51aika.com/abl/images/logo_ny2016.png); float:left; margin-top:16px;}*/
.logobox .logo { width:235px; height:39px; background:url(http://img1.51aika.com/abl/Images/logo.png); float:left; margin-top:33px;}
.logobox .search { width:480px; float:left; margin-left:85px; margin-top:25px; display:inline; position:relative}
.logobox .search .search_key { height:36px; border:3px solid #F5008C; font-size:16px; padding-left:10px; line-height:36px; float:left; width:370px; font-family:\5FAE\8F6F\96C5\9ED1}
.logobox .search .searchbtn { background:#F5008C; height:42px; float:left; text-align:center; line-height:42px; font-size:16px; border:none;color:#fff; float:left; cursor:pointer; width:80px;font-family:\5FAE\8F6F\96C5\9ED1}
.logobox .search .hotkey { clear:both; color:#888; padding-top:5px;}
.logobox .search .hotkey a { display:inline-block; margin-right:10px; color:#888}
.logobox .tphone { width:131px; height:60px; display:block; background:url(http://img1.51aika.com/abl/Images/tel_pos.png) no-repeat; margin:24px 0 0 0; float:right;}
.same_key { position:absolute; width:378px; background:#FFF; border:solid 1px #ddd; top:40px; left:3px; padding:0; z-index:9000;}
.same_key ul li { height:30px; line-height:30px; border-bottom: solid 1px #f0f0f0; }
.same_key ul li a { display:block;padding-left:10px;}
.same_key ul li a span { color:#F30}
.same_key ul li a:hover { color:#fff; background:#4abecf}
.same_key ul li a:hover span { color:#FF0}
.navout { width:100%; height:55px;}
.nav { background:url(http://img1.51aika.com/abl/Images/nav_bg.png); height:55px; position:relative; z-index:888; width:100%}
.nav .categorys .title,.nav .menu li a.menua,.nav .tcart span,.nav .tcart a { background:url(http://img1.51aika.com/abl/Images/icos_menu.png) no-repeat;}
.nav .categorys { height:55px; width:192px; float:left; position:relative;}
.nav .categorys .title {height:55px; width:192px; cursor:pointer}

.nav .menu{float:left}
.nav .menu li  {float:left; margin-left:1px; position:relative}
.nav .menu li a.menua { float:left; height:55px; width:104px; text-align:center;}
.nav .menu li a.menua span { display:none}
.nav .menu li a.menua.home { background-position:-206px 0}
.nav .menu li a.menua.home:hover { background-position:-206px -56px}
.nav .menu li a.menua.home.current { background-position:-206px -112px}

.nav .menu li a.menua.wholesale { background-position:-339px 0}
.nav .menu li a.menua.wholesale:hover,.nav .menu li a.menua.wholesale.hover {background-position:-339px -56px}
.nav .menu li a.menua.wholesale.current { background-position:-339px -112px}

.nav .menu li a.menua.recharge { background-position:-479px 0}
.nav .menu li a.menua.recharge:hover,.nav .menu li a.menua.recharge.hover { background-position:-479px -56px}
.nav .menu li a.menua.recharge.current { background-position:-479px -112px}

.nav .menu li a.menua.user { background-position:-621px 0}
.nav .menu li a.menua.user:hover,.nav .menu li a.menua.user.hover { background-position:-621px -56px}
.nav .menu li a.menua.user.current { background-position:-621px -112px}

.nav .menu li a.menua.mktx { background-position:-764px 0}
.nav .menu li a.menua.mktx:hover,.nav .menu li a.menua.mktx.hover { background-position:-764px -56px}
.nav .menu li a.menua.mktx.current { background-position:-764px -112px}

/* navigator */

.nav .categorys .inner{ background:#fff; height:352px; width:191px; position:absolute; left:0; top:55px; border:solid 1px #24acc7; border-top:0; overflow:hidden; display:none}
.nav .categorys .inner.show_cat{ width:797px;}
/*.nav .categorys .nav_lbg, .navigator .categorys .nav_rbg,.nav .categorys .nav_lbg i, .navigator .categorys .nav_rbg i{ background:url(http://img1.51aika.com/abl/Images/nav_ver_bg.png) repeat-y; font-size:0; height:100%; height:354px; width:8px; position:absolute; left:-8px; top:0; _background:#d9d9d9; _width:1px; _left:-1px;}
.nav .categorys .nav_rbg{ background-position:-8px 0; left:auto; right:-8px; _right:-1px;}
.nav .categorys .nav_hbg{ display:block; background:url(http://img1.51aika.com/abl/Images/nav_hor_bg.png) repeat-x 0 -3px; border-top:3px solid #5679be; font-size:0; margin:0 2px; height:12px; _background:#d9d9d9; _margin:0; _height:0;}
.nav .categorys .nav_lbg i, .navigator .categorys .nav_rbg i{ background-position:-16px 0; height:14px; width:10px; left:0; top:100%; _display:none;}
.nav .categorys .nav_rbg i{ background-position:-26px 0; left:-2px;}*/
.nav_cat_wrap{ height:100%; width:100%; position:relative; z-index:2; overflow:hidden;}
.nav .show_cat .nav_cat_wrap{ overflow:visible;}
.nav_cats{ padding:15px 0; width:190px;}
.nav_cats ul{ display:block; margin:0 10px;}
.nav_cats li{ padding-bottom:1px; vertical-align:top;}
.nav_cats li a{ display:block; background:#fff; color:#737d8c; font-size:16px; line-height:20px; padding:7px 10px 8px 10px; height:20px; color:#73818c}
.nav_cats li a:hover,.nav_cats .current a,.nav_cats a.current{ background-color:#24acc7; color:#fff;}

.nav_cats li i{ float:left; background:url(http://img1.51aika.com/abl/Images/ico_class.png) no-repeat; cursor:pointer; margin:0 5px 0 -2px; height:20px; width:20px; overflow:hidden; vertical-align:middle;}
.nav_cats li a:hover i, .nav_cats .current i{ background-position:0 -20px;}
.nav_cats li .Wine{ background-position:0 0;}
.nav_cats li a:hover .Wine, .nav_cats .current .Wine{ background-position:0 -20px;}
.nav_cats li .food{ background-position:-20px 0;}
.nav_cats li a:hover .food, .nav_cats .current .food{ background-position:-20px -20px;}
.nav_cats li .beautiful{ background-position:-40px 0;}
.nav_cats li a:hover .beautiful, .nav_cats .current .beautiful{ background-position:-40px -20px;}
.nav_cats li .oil{ background-position:-60px 0;}
.nav_cats li a:hover .oil, .nav_cats .current .oil{ background-position:-60px -20px;}
.nav_cats li .daily{ background-position:-80px 0;}
.nav_cats li a:hover .daily, .nav_cats .current .daily{ background-position:-80px -20px;}
.nav_cats li .Fruit{ background-position:-100px 0;}
.nav_cats li a:hover .Fruit, .nav_cats .current .Fruit{ background-position:-100px -20px;}
.nav_cats li .other{ background-position:-120px 0;}
.nav_cats li a:hover .other, .nav_cats .current .other{ background-position:-120px -20px;}
.nav_cats li .arrow{ float:right; background-position:-212px 0; margin:4px 0 0; height:11px; width:8px;}
.nav_cats li a:hover .arrow, .nav_cats .current .arrow{ background-position:-220px 0;}
.nav_subcat_wrap{ border-left:1px solid #d9d9d9; box-shadow:inset 1px 0 4px rgba(0,0,0,.16); height:100%; width:606px; position:absolute; left:192px; top:0; }
.nav_subcat_panel{ display:none; padding:20px;}
.nav_subcat_wrap h4{ color:#73818c; font-size:16px; font-weight:normal; margin-bottom:10px;}
.nav_subcat_wrap h4 a{ color:#73818c; font-size:16px; }
.nav_subcat_wrap h4 a:hover{ color:#ec0085;}
.nav_subcat_wrap .line{ display:block; background:#ced3dc; margin-top:8px; height:1px; width:22px; overflow:hidden;}
.nav_sub_cat_tit, .nav_subcats{ position:relative; z-index:2; *zoom:1;}
.nav_subcats{ padding-bottom:20px; overflow:hidden;}
.nav_subcats li{ float:left; padding:0 30px 12px 0;}
.nav_subcats li a{ display:inline-block; color:#737d8c; font-size:14px; width:80px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; vertical-align:top;}
.nav_subcats li a:hover{ color:#09F;}
.nav_subBrand li { width:130px; height:60px; border:solid 1px #ebebeb; float:left; margin:5px 10px 5px 0;}
.nav_subBrand li.last { margin-right:0}

/*下拉商品*/

.laporlist_box{ border:solid 1px #24acc7; width:970px; position:absolute; top:55px; left:-324px; padding:15px; background:#fff; display:none; z-index:9999; overflow:hidden; border-top:0}
.laproitem { font-size:14px; padding:5px 0 0 15px;}
.laproitem .title { font-size:14px; color:#24ACC7; font-weight:bold}
.laproitem_con { margin:8px 0 10px 0}
.laproitem_class dd { float:left; font-size:14px;margin-right:40px; }
.laproitem_class dd a {font-size:16px; font-weight:bold; float:left}

.laproitem_latter dd { float:left; font-size:14px; margin-right:8px;}
.laproitem_latter dd a {font-size:16px; float:left; width:24px; height:24px; border:solid 1px #F2F2F2; text-align:center }
.laproitem_latter dd a:hover { background:#E60081; color:#fff; border:solid 1px #E60081; }

.laproitem_brand_pic dd { float:left}
.laproitem_brand_pic dd a { float: left; border:solid 1px #F2F2F2; text-align:center; margin-right:6px;}
.laproitem_brand_pic dd a:hover { border:solid 1px #E60081; }

.laproitem_brand_text dd { float:left; margin-right:20px; margin-top:8px;}
.laproitem_brand_text dd a { float: left; font-size:14px;}

.laproitem_sales dd{float:left; position:relative; margin-right:10px;}
.laproitem_sales dd em { font-size:16px; color:#e40080; display:block; margin-bottom:1px;}
.laproitem_sales dd span { color:#999}
.laproitem_sales dd a { float:left;  border:solid 1px #E5E5E5; padding:8px 15px; }
.laproitem_sales dd i { background:url(http://img1.51aika.com/abl/Images/icons.png) no-repeat -165px 0; width:32px; height:32px; float:right; position:absolute; right:0; top:23px; display:none}
.laproitem_sales dd a:hover { border:solid 1px #E60081; }
.laproitem_sales dd a:hover i { background-position:0 0; }


.laproitem_sales dd.sales_zpy i { background-position:-202px 0; right:-3px;}
.laproitem_sales dd.sales_zpy a:hover i { background-position:-37px 0; }

.laproitem_sales dd.sales_vip i { background-position:-241px 0;}
.laproitem_sales dd.sales_vip a:hover i { background-position:-76px 0;}

.laproitem_sales dd.sales_zq i { background-position:-282px 0;}
.laproitem_sales dd.sales_zq a:hover i { background-position:-117px 0;}

/*下拉充值*/
.czbtns_box { padding:15px 0 0 15px; margin-top:10px;}
.czbtns_box .czbtns_icos dd {width:84px; height:84px; float:left; margin-right:14px; margin-bottom:14px}
.czbtns_box .czbtns_icos dd.last { margin-right:0}
.czbtns_box .czbtns_icos dd a { border:solid 1px #E4E9EC; width:82px; height:82px; border-radius:5px; float:left; position:relative}

.czbtns_box .czbtns_icos dd a .ico_btns_new {background:url(http://img1.51aika.com/abl/Images/sprites.png) no-repeat -185px -358px; display:block; width:31px; height:31px; position:absolute; right:-8px; top:-8px;}
.czbtns_box .czbtns_icos dd a:hover .ico_btns_new,.czbtns_box .czbtns_icos dd.current a .ico_btns_new {background:url(http://img1.51aika.com/abl/Images/sprites.png) no-repeat -185px -326px; display:block; width:31px; height:31px; position:absolute; right:-8px; top:-8px;}







.lachongz_box { border:solid 1px #24acc7; width:970px; position:absolute; top:55px; left:-455px; padding:15px 15px 0 15px; background:#fff; display:none;  z-index:9999; overflow:hidden;border-top:0}
.lachongz_box .czbtns_icos dd {width:84px; height:84px; float:left; margin-right:14px; margin-bottom:14px}
.lachongz_box .czbtns_icos dd.last { margin-right:0}
.lachongz_box .czbtns_icos dd a { border:solid 1px #E4E9EC; width:82px; height:82px; border-radius:5px; float:left;}

.czbtns_icos dd a i { display:block; height:42px; width:42px; background:url(http://img1.51aika.com/abl/Images/icons.png) 0 -33px no-repeat; margin:8px auto 5px auto}
.czbtns_icos dd a h4 { font-size:14px; padding:0px; text-align:center}
.czbtns_icos dd a:hover i,.czbtns_icos dd.current a i { background-position:0 -77px;}
.czbtns_icos dd a:hover,.czbtns_icos dd.current a { background:#EC0085; border:#EC0085 solid 1px;}
.czbtns_icos dd a:hover h4,.czbtns_icos dd.current a h4 { color:#fff}

.czbtns_icos dd a i.iphonew { background-position:-43px -33px}
.czbtns_icos dd a:hover i.iphonew,.czbtns_icos dd.current a i.iphonew { background-position:-43px -77px}

/*.czbtns_icos dd a i.iphonew { background-position:-688px -33px}
.czbtns_icos dd a:hover i.iphonew,.czbtns_icos dd.current a i.iphonew { background-position:-688px -77px}*/

.czbtns_icos dd a i.iphonen { background-position:-645px -33px}
.czbtns_icos dd a:hover i.iphonen,.czbtns_icos dd.current a i.iphonen { background-position:-645px -77px}


.czbtns_icos dd a i.qqb { background-position:-86px -33px}
.czbtns_icos dd a:hover i.qqb,.czbtns_icos dd.current a i.qqb { background-position:-86px -77px}

.czbtns_icos dd a i.game { background-position:-129px -33px}
.czbtns_icos dd a:hover i.game,.czbtns_icos dd.current a i.game { background-position:-129px -77px}

.czbtns_icos dd a i.water { background-position:-172px -33px}
.czbtns_icos dd a:hover i.water,.czbtns_icos dd.current a i.water { background-position:-172px -77px}

.czbtns_icos dd a i.telephone { background-position:-215px -33px}
.czbtns_icos dd a:hover i.telephone,.czbtns_icos dd.current a i.telephone { background-position:-215px -77px}

.czbtns_icos dd a i.greencity { background-position:-258px -33px}
.czbtns_icos dd a:hover i.greencity,.czbtns_icos dd.current a i.greencity { background-position:-258px -77px}



.czbtns_icos dd a i.opencard { background-position:-301px -33px}
.czbtns_icos dd a:hover i.opencard,.czbtns_icos dd.current a i.opencard { background-position:-301px -77px}

.czbtns_icos dd a i.Package { background-position:-344px -33px}
.czbtns_icos dd a:hover i.Package,.czbtns_icos dd.current a i.Package { background-position:-344px -77px}

.czbtns_icos dd a i.creditcard { background-position:-387px -33px}
.czbtns_icos dd a:hover i.creditcard,.czbtns_icos dd.current a i.creditcard { background-position:-387px -77px}

.czbtns_icos dd a i.plane { background-position:-430px -33px}
.czbtns_icos dd a:hover i.plane,.czbtns_icos dd.current a i.plane { background-position:-430px -77px}

.czbtns_icos dd a i.sfexpress { background-position:-473px -33px}
.czbtns_icos dd a:hover i.sfexpress,.czbtns_icos dd.current a i.sfexpress { background-position:-473px -77px}

.czbtns_icos dd a i.linetv { background-position:-516px -33px}
.czbtns_icos dd a:hover i.linetv,.czbtns_icos dd.current a i.linetv { background-position:-516px -77px}

.czbtns_icos dd a i.chinapost { background-position:-559px -33px}
.czbtns_icos dd a:hover i.chinapost,.czbtns_icos dd.current a i.chinapost { background-position:-559px -77px}

.czbtns_icos dd a i.healthcare { background-position:-602px -33px}
.czbtns_icos dd a:hover i.healthcare,.czbtns_icos dd.current a i.healthcare { background-position:-602px -77px}

.czbtns_icos dd a i.cardpay { background-position:-645px -33px}
.czbtns_icos dd a:hover i.cardpay,.czbtns_icos dd.current a i.cardpay { background-position:-645px -77px}




.czbtns_icos dd a i.ico_unicom { background-position:-688px -33px}
.czbtns_icos dd a:hover i.ico_unicom,.czbtns_icos dd.current a i.ico_unicom { background-position:-688px -77px}

.czbtns_icos dd a i.ico_hlb { background-position:-773px -33px}
.czbtns_icos dd a:hover i.ico_hlb,.czbtns_icos dd.current a i.ico_hlb { background-position:-773px -77px}


.czbtns_icos dd a i.ico_liuliang { background-position:-816px -33px}
.czbtns_icos dd a:hover i.ico_liuliang,.czbtns_icos dd.current a i.ico_liuliang { background-position:-816px -77px}

.czbtns_icos dd a i.ico_tuijian { background-position:-902px -33px}
.czbtns_icos dd a:hover i.ico_tuijian,.czbtns_icos dd.current a i.ico_tuijian { background-position:-902px -77px}

.czbtns_icos dd a i.ico_yibao { background-position:-988px -33px}
.czbtns_icos dd a:hover i.ico_yibao,.czbtns_icos dd.current a i.ico_yibao { background-position:-988px -77px}

.czbtns_icos dd a i.ico_weizhang { background-position:-945px -33px}
.czbtns_icos dd a:hover i.ico_weizhang,.czbtns_icos dd.current a i.ico_weizhang { background-position:-945px -77px}

.czbtns_icos dd a i.ico_dangao { background-position:-1074px -33px}
.czbtns_icos dd a:hover i.ico_dangao,.czbtns_icos dd.current a i.ico_dangao { background-position:-1074px -77px}

.czbtns_icos dd a i.ico_xianhua { background-position:-1031px -33px}
.czbtns_icos dd a:hover i.ico_xianhua,.czbtns_icos dd.current a i.ico_xianhua { background-position:-1031px -77px}



.czbtns_icos dd.setbtns a { background:#FFF; border:solid 1px #E4E9EC;}

.czbtns_icos dd.setbtns a i { background-position:-731px -33px}
.czbtns_icos dd.setbtns a:hover i { background-position:-731px -77px}
.czbtns_icos dd.setbtns a h4 { background:url(http://img1.51aika.com/abl/Images/icons.png) -58px -125px no-repeat; font-size:0; width:79px; height:17px; padding:0; margin:10px auto}
.czbtns_icos dd.setbtns a:hover h4 { background:url(http://img1.51aika.com/abl/Images/icons.png) -58px -145px no-repeat; font-size:0}


/*商户中心 下拉*/
.usermenu_box {border:solid 1px #24acc7; width:970px; position:absolute; top:55px; left:-586px; padding:15px 15px 20px 15px; background:#fff; display:none;  z-index:9999; overflow:hidden;border-top:0}


.account_tnenu_list li { width:70px; margin-right:15px; float:left;}
.account_tnenu_list li a i { background:url(http://img1.51aika.com/abl/Images/group_user.png) no-repeat 0 -86px; display:block; width:60px; height:60px; margin:0 auto}
.account_tnenu_list li a span { font-size:14px; color:#6e7680; display:block; text-align:center; padding-top:5px; font-weight:bold; }
.account_tnenu_list li a:hover span { color:#ec0085; }

.account_tnenu_list li a:hover i { background-position: 0 -147px;}

.account_tnenu_list li a i.wycz { background-position:-61px -86px}
.account_tnenu_list li a:hover i.wycz { background-position:-61px -147px}

.account_tnenu_list li a i.yhdk { background-position:-122px -86px}
.account_tnenu_list li a:hover i.yhdk { background-position:-122px -147px}

.account_tnenu_list li a i.posjk { background-position:-183px -86px}
.account_tnenu_list li a:hover i.posjk { background-position:-183px -147px}

.account_tnenu_list li a i.zztk { background-position:-244px -86px}
.account_tnenu_list li a:hover i.zztk { background-position:-244px -147px}

.account_tnenu_list li a i.flcx { background-position:-305px -86px}
.account_tnenu_list li a:hover i.flcx { background-position:-305px -147px}

.account_tnenu_list li a i.wydj { background-position:-366px -86px}
.account_tnenu_list li a:hover i.wydj { background-position:-366px -147px}

.account_tnenu_list li a i.ykt { background-position:-427px -86px}
.account_tnenu_list li a:hover i.ykt { background-position:-427px -147px}

.account_tnenu_list li a i.ydkk { background-position:-488px -86px}
.account_tnenu_list li a:hover i.ydkk { background-position:-488px -147px}



.usermenu_box dd a { font-size:14px; display:block;height:35px; text-align:center; line-height:35px;}
.usermenu_box dd a:hover{ background:#24acc7; color:#fff}
/* user_cart */
.nav .tcartbox {float:right; height:36px; margin-top:10px; position:relative}
.nav .tcart { text-align:right; }
.nav .tcart span { background-position:0 -56px; height:36px; line-height:36px; padding-left:38px; font-size:14px; padding-right:10px; float:right}
.nav .tcart span i { font-size:14px; font-weight:bold}
.nav .tcart a { height:36px; float:right; background-position:0 -93px; font-size:16px; color:#fff; padding:0 10px; line-height:36px;}

.user_cart_inner{ background:#fff; border:1px solid #24acc7; margin-right:-1px; width:100%; position:absolute; right:0; z-index:99; top:100%; margin-top:6px; }
.user_cart_inner .carttarr{background:url(http://img1.51aika.com/abl/Images/icos_menu.png) no-repeat 0 -163px; height:10px; width:20px; position:absolute; top:-5px; left:50%}
.user_cart_inner li{ background:#fff; border-top:1px solid #f1f1f1; margin:0 10px; padding:10px 0 10px 70px; vertical-align:top;}
.user_cart_inner .pic{ border:1px solid #f1f1f1; margin-left:-70px; position:absolute; }
.user_cart_inner .pic:hover{ border-color:#DDD;}
.user_cart_inner .pic img{ vertical-align:top;}
.user_cart_inner .tit{ display:inline-block; color:#949494; margin-right:20px; height:3em; overflow:hidden; word-break:break-all; word-wrap:break-word; vertical-align:top;}
.user_cart_inner .tit:hover{ color:#333;}
.user_cart_inner .prop{ padding-top:10px;}
.user_cart_inner .price, .user_cart_inner .count em{ color:#C00; font:bold 14px Arial;}
.user_cart_inner .count{ color:#999; margin-left:1.2em;}
.user_cart_inner .del{ background:url(http://img1.51aika.com/abl/Images/icos_menu.png) no-repeat 0 -130px; font-size:0; margin:-42px 10px 0 0; height:12px; width:12px; position:absolute; right:0; overflow:hidden; text-indent:-99em;}
.user_cart_inner .del:hover{ background-position:0 -143px;}
.user_cart_inner .user_cart_funs{ background:#fafafa; color:#747474; border-top:1px solid #f0f0f0; padding:10px 12px; text-align:right;}
.user_cart_inner .total em{ color:#C00; font:bold 14px Arial; margin:0 .2em;}
.user_cart_inner .tcartbtns{ padding-top:8px;}
.user_cart_inner .tcartbtns a.tcartbtn{ color:#fff; font-size:13px;background:url(http://img1.51aika.com/abl/Images/icos_menu.png) no-repeat -13px -130px; margin:0; vertical-align:top; display: inline-block; height:30px; line-height:30px; width:115px; text-align:center; font-weight:bold}


.user_cart_inner .no_product { color:#333; font-size:14px; padding:40px 20px 40px 82px;}
.user_cart_inner .no_product span {color:#333; font-size:14px; }
.user_cart_inner .no_product .big_cart{ background:url(http://img1.51aika.com/abl/Images/cart_new.png) no-repeat 0 -54px; margin:-10px 0 0 -72px; height:60px; width:60px; position:absolute;}
.user_cart_inner .no_product a{ color:#09F;}
.user_cart_inner .no_product a:hover{ color:#F60;}

/* crumb */
.crumb{ color:#737d8c; font-size:14px; font-weight:bold; margin:0 0 10px; padding-top:5px; height:20px;}
.crumb .home a{ display: block; float:left; background:url(http://img1.51aika.com/abl/Images/sprites.png) no-repeat -133px -62px; height:16px; width:16px; margin-top:1px }
.crumb .step_arrow{ display:block; float:left; background:url(http://img1.51aika.com/abl/Images/sprites.png) no-repeat -134px -78px; margin-top:3px; padding-right:8px; height:16px; width:16px; overflow:hidden;}
.crumb li{ float:left; line-height:20px;}
.crumb li a{ display:block; color:#737d8c; padding-right:8px;font-size:14px;}
.crumb li.cur{ background:none;}


/* footer */
.footer_wrap{ background:#f3f3f3; border-top:1px solid #dcdbdb; box-shadow:inset 1px 1px 3px rgba(0,0,0,.1); color:#666; padding:20px 0 30px; *zoom:1; clear:both}
.footer a{ color:#444;}
.footer a:hover{ color:#145cea;}
.our_services{ margin-bottom:20px;}
.our_services .ours{ float:left; padding:5px 0 0 106px; width:180px;}
.our_services .ours .weixin{ border-bottom:1px solid #d7d7d7; margin:0 10px 10px 0; padding-bottom:10px;}
/*.our_services .ours .weixin .pic{ background:#FFF url(http://img1.51aika.com/abl/Images/footer.png) no-repeat 6px 6px; border:1px solid #D7D7D7; margin-left:-104px; height:90px; width:90px; position:absolute;}*/
.our_services .ours .weixin .pic{ background:#FFF url(http://img1.51aika.com/abl/Images/footer.png) no-repeat 16px 16px; border:1px solid #D7D7D7; margin-left:-104px; height:90px; width:90px; position:absolute;}
.our_services .ours .weixin img{ display:none;}
.our_services .ours .weixin h4{ color:#333; font-size:14px; font-weight:normal; margin-bottom:10px;}
/*.our_services .ours .weixin{ display:block; background:url(http://img1.51aika.com/abl/Images/footer.png) no-repeat; margin:0 auto; height:106px; width:214px; text-indent:-9999em;}*/
.our_services .ours .phone{ margin:0 auto; padding:2px 0;}
.our_services .ours .phone em{ font:bold 14px Arial;}
.our_services .ours .phone small{ display:block; padding-left:58px;}
.our_services .service{ display:inline; float:left; margin-left:30px; padding-left:30px; width:119px;}
.our_services .service dt{ color:#444; font-size:20px; padding-bottom:5px; text-shadow:0 1px 0 #fff;}
.our_services .service i{ background:url(http://img1.51aika.com/abl/images/footer_min.png) no-repeat -214px 0; margin:0px 0 0 -38px; height:30px; width:30px; position:absolute;}
.our_services .service .ship{ background-position:-244px 0;}
.our_services .service .pay{ background-position:-274px 0;}
.our_services .service .fav{ background-position:-304px 0;}
.our_services .service .qa{ background-position:-334px 0;}
.our_services .service dd{ display:block; padding:0 0 4px;}
.our_services .service dd i{ display:inline-block; background:#7F7F7F; margin:-2px 7px 0 1px; height:2px; width:2px; overflow:hidden; position:static; vertical-align:middle; *margin-top:0;}
.our_slogan{ background:url(http://img1.51aika.com/abl/images/footer_min.png) no-repeat 0 -106px; margin-bottom:-30px; height:140px;}
.our_slogan a, .our_slogan span{ float:left; margin:13px 0 0 94px; height:60px; width:150px; text-indent:-9999em;}
.our_slogan .first{ margin-left:30px;}
.our_links{ font-size:14px; text-align:center; text-shadow:0 1px 0 #fff;}
.our_links .line{ color:#999; margin:0 .5em; text-shadow:1px 0 #fff;}
.copyright{ line-height:1.72; padding:10px 0 15px; text-align:center;}
.safe_web{ font-size:0; text-align:center;}
.safe_web a{ display:inline-block; background:url(http://img1.51aika.com/abl/images/footer_min.png) no-repeat -214px -30px; margin:0 10px; height:40px; width:110px; vertical-align:top;}
.safe_web .safe_2{ background-position:-324px -30px;}
.safe_web .safe_3{ background-position:-434px -30px;}
.safe_web .safe_4{ background-position:-544px -30px;}
.safe_web .safe_5{ background-position:-654px -30px;}
.safe_web .safe_6{ background-position:-764px -30px; width:144px;}
.safe_web span{ display:none;}
/*按钮*/
/* btn */
.btn, .btn span, .btn i{ display:inline-block; background:url(http://img1.51aika.com/abl/images/btn_hor.png) no-repeat; vertical-align:middle;}
.btn{ border-width:0; color:#fff; font-size:13px; padding-left:15px; line-height:30px; text-shadow:0 -1px 0 #333; white-space:nowrap; word-wrap:normal;}
.btn:hover{ background-position:0 -30px; color:#fff;}
.btn span{ background-position:100% 0; cursor:pointer; padding-right:15px; vertical-align:top;}
.btn:hover span{ background-position:100% -30px;}
.btn i{ background-position:-120px -180px; cursor:pointer; margin:8px 6px 0 -5px; height:16px; width:16px; overflow:hidden; vertical-align:top;}

.mr15 { margin-right:15px;}
a.btnall { background:#4ac1d3; border-radius:3px; font-size:16px; color:#fff; display:inline-block; padding:12px 20px; line-height:20px; height:20px;}
a.btnall:hover { background:#53d4e8}

a.buy { background:#e40080; border-radius:3px; font-size:16px; color:#fff; display:inline-block; padding:12px 20px; line-height:20px;height:20px; vertical-align:top}
a.buy:hover { background:#ff0073}
a.buy i.buyico { display:inline-block; background: url(http://img1.51aika.com/abl/Images/sprites.png) -203px -62px; height:20px; width:20px; margin-right:10px;}
a.greenbtn {background:#97CF48; border:0; color:#fff; font-size:20px; font-weight:bold; height:44px; border-radius:5px; cursor:pointer; display:inline-block; padding:5px 20px; line-height:44px;}
a.greenbtn:hover {background:#a3d956;}
.btns { height:54px; font-size:24px; font-family:microsoft yahei; color:#fff; background:#ef008a; border:none; box-shadow: 0 3px 0 #CE1D1D; border-radius:5px; cursor:pointer; float:left; padding:0 25px;}
a.enterbtn {  background:#ef008a; box-shadow: 0 3px 0 #c0006f; vertical-align:middle; line-height:54px; color:#fff}
a.otherbtn {  background:#4bbbcc; box-shadow: 0 3px 0 #0088ae;color:#fff;line-height:54px;}
a.enterbtn:hover { background:#ff1fa0;box-shadow: 0 3px 0 #cd0076;}
a.otherbtn:hover { background:#5acbdc;box-shadow: 0 3px 0 #099fc9;}


/* pager */
.pager{ background:#efefef; border-top:1px solid #dedddd; border-bottom:1px solid #fff; box-shadow:inset 0 1px 2px rgba(0,0,0,.06); padding:10px 0; height:24px;}
.page_list{ color:#9b9b9b; font-size:0; padding:0 10px; text-align:right;}
.page_list a, .page_list .prev, .page_list .next, .page_list .current, .page_list .more, .page_list .page_jump{ display:inline-block; background:#efefef; border:1px solid #bbbbbb; border-radius:3px; box-shadow:0 1px 0 #fff, inset 0 1px 0 #fbfbfb; color:#868585; font:14px/22px Arial; margin-left:5px; padding:0 7px; height:22px; text-shadow:0 1px 0 #fff; vertical-align:top;}
.page_list a:hover, .page_list .current{ background-color:#3facd3; border-color:#008aad; box-shadow:0 1px 0 #fff, inset 0 1px 0 #22b1ce; color:#fff; text-shadow:0 -1px 0 #174a6d;}
.page_list a:hover span, .page_list .current span { color:#fff}
.page_list .current, .page_list .disabled, .page_list .disabled:hover{ cursor:default; pointer-events:none;}
.page_list .disabled, .page_list .disabled:hover{ background-color:#efefef; color:#CCC; border-color:#CCC;}
.page_list .more, .page_list .page_jump{ background:none; border:0; box-shadow:none;}
.page_list .page_jump{ margin-left:10px;}
.page_list .page_jump input{ background:#fff; border:1px solid #bbb; box-shadow:0 1px 0 #fff; color:#333; margin:0 4px; padding:4px; height:14px; width:44px; vertical-align:middle;}
.page_list .prev, .page_list .next{ line-height:20px;}

/*弹出层box*/
#popuDivMain {z-index:9997; background:#000;-moz-opacity:0.4;opacity: 0.4; position: fixed; width:100%; height:100%; top:0; display:none;filter:alpha(Opacity=40);}
#popuDivContent { z-index:9998; background:#4bbdce; position: fixed; top:100px; left:300px; padding:10px; display:none;}
.pop_content { background-color:#FFF; padding:40px; min-width:300px; max-width:600px}

/*弹出层提示类*/
.pop_content .title h4 { font-size:20px; height:37px; color:#7abd54; font-family:microsoft yahei; line-height:37px}
.pop_content .title h4 span { background:url(http://img1.51aika.com/abl/Images/sprites.png) -42px -354px no-repeat; display:inline-block; height:37px; width:37px; vertical-align: bottom; margin-right:10px;}

.pop_content .title h4.failure { color:#ff0000}
.pop_content .title h4.failure span { background-position:0 -354px}
.pop_content .title h4.warning { color:#ff9900}
.pop_content .title h4.warning span { background-position:-123px -354px}
.pop_content .pop_info { padding:10px 0 10px 47px}
.pop_content .pop_info p { font-size:14px; margin-bottom:8px;}
.pop_content .pop_btns {padding:20px 0 0 47px; }
.pop_content .pop_btns ul li { float:left; margin-right: 15px;}
.pop_content .pop_btns ul li a { height:35px; line-height:35px; padding:0 20px; color:#fff; font-size:16px; display:inline-block}
.pop_content .pop_btns ul li a.popbtn_ok { background:#F2008A; border-bottom:solid 1px #AE0C68; border-right:solid 1px #AE0C68;}
.pop_content .pop_btns ul li a.popbtn_no { background:#4BBDCE; border-bottom:solid 1px #2C647A; border-right:solid 1px #2C647A}
.pop_content a.pop_close { background:url(http://img1.51aika.com/abl/Images/cart_new.png) no-repeat -70px -54px; width:25px; height:25px; position:absolute; right:15px; top:15px; cursor:pointer}
.pop_content a.pop_close:hover { background-position:-70px -79px}

/***选择商品属性弹出层样式**/
.pop_choose{ background:#fafafa; border:1px solid #f0f0f0; padding:10px 12px;}
.pop_choose li { overflow:hidden; margin-bottom:5px;}
.pop_color_choose{ font-size:0; padding:5px 0;}
.pop_color_choose a{ display:inline-block; background:#fff; border:1px solid #e6e6e6; margin:0 7px 6px 0; vertical-align:top;}
.pop_color_choose .current{ position:relative;}
.pop_color_choose a:hover{ position:relative; z-index:3;}
.pop_color_choose img{ display:inline-block; border:2px solid #fff; vertical-align:top;}
.pop_color_choose a:hover,.color_choose a:hover img,
.pop_color_choose .current,.color_choose .current img{ border-color:#ff0073;}
.pop_color_choose .selected{ display:none;}
.pop_color_choose .tit{ background:#F9F2BA; border:1px solid #E9D315; border-radius:5px; color:#333; cursor:pointer; padding:2px 5px; width:200px; position:absolute; bottom:60px; left:-9999px; font-size:14px;}
.pop_color_choose a:hover .tit{ left:-84px;}
.pop_color_choose .tit em{ font-size:14px; font-weight:normal;}
.pop_color_choose .tit i, .color_choose .tit b{ border-color:#F9F2BA transparent; border-style:solid dashed; border-width:6px 6px 0; font-size:0; margin:-7px 0 0 -6px; height:0; width:0; position:absolute;}
.pop_color_choose .tit i{ border-top-color:#E9D315; margin:0 0 0 -3px; bottom:-6px; left:50%;}
.pop_color_choose .current .selected{ display:block; background:url(http://img1.51aika.com/abl/Images/sprites.png) no-repeat -92px -18px; height:16px; width:16px; position:absolute; right:2px; bottom:2px; overflow:hidden;}

.pop_count_field{ display:inline-block; font-size:0; height:24px; vertical-align:middle;}
.pop_count_field a{ display:inline-block; background:url(http://img1.51aika.com/abl/Images/sprites.png) no-repeat 0 -102px; height:18px; width:18px; vertical-align:middle; overflow:hidden;font-size:0; }
.pop_count_field a:hover{ background-position:0 -120px;}
.pop_count_field .plus{ background-position:-18px -102px;}
.pop_count_field .plus:hover{ background-position:-18px -120px;}
.pop_count_field input{ border:1px solid #d6d6d6; padding:3px; color:#333; font-size:12px; margin:0 3px; height:14px; width:50px; vertical-align:middle; line-height:14px\9;}
.pop_choose_count em{ margin-left:.5em; padding-top:2px;}

.pop_choose li .tit { font-weight:bold}
.pop_choose li dl {display:inline-block; vertical-align:middle; padding:0; margin:0}
.pop_choose li dl dt { margin-bottom:8px; padding:0}
.pop_choose li dl dt a { background:#eaeaea; padding:0 10px 0 7px; height:28px; line-height:28px; display:inline-block;  position:relative}
.pop_choose li dl dt a:hover { background:#00bcff; border-radius:3px; color:#fff}
.pop_choose li dl dt a i { width:11px; height:11px; position:absolute; right:1px; bottom:1px; background:url(http://img1.51aika.com/abl/Images/icon_duihao_write.png); display:none}
.pop_choose li dl dt a.hover {background:#00bcff; border-radius:3px; color:#fff}
.pop_choose li dl dt a.hover i { display:block}
.dtleft dt { float:left; margin-right:5px; margin-bottom:0}

.pop_ul {background:#fafafa; border:1px solid #f0f0f0; padding:10px 12px; overflow:hidden}
.pop_ul li { padding:5px 0;}
.pop_ul li .tit{ font-size:14px;}
/* loading */
.loading{ padding:60px 20px; text-align:center;}
.loading i{ display:inline-block; background:url(http://img1.51aika.com/abl/Images/loading.gif) no-repeat; height:28px; width:28px; vertical-align:middle;}
.loading span{ color:#999; margin-left:.8em;}
/* quick_links */
.quick_links_wrap{ font-size:0; margin-left:560px; width:66px; position:fixed; left:50%; top:170px; height:419px; z-index:9; -webkit-transition:width linear .4s; -moz-transition:width linear .4s; -ms-transition:width linear .4s; transition:width linear .4s; _position:absolute; _bottom:auto; _top:expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight-10); }
.quick_links_wrap.quick_links_min{ width:34px;}
.quick_links_wrap.quick_links_dockright{ margin-left:0; left:auto; right:4px;}
.quick_links_panel{ background:#FBFBFB; border:1px solid #EAEAEA; box-shadow:0 0 4px rgba(0,0,0,.14); padding-bottom:30px; height:310px; width:64px; overflow:hidden; position:absolute; left:0; bottom:0; -webkit-transition:all ease .4s; -moz-transition:all ease .4s; -ms-transition:all ease .4s; transition:all ease .4s;}
.quick_links_min .quick_links_panel{ height:0; width:32px;}
.quick_links_allow_gotop{ height:387px;}
.quick_links_min .quick_links_allow_gotop{ height:32px;}
.quick_links_panel .quick_toggle{ background:#FBFBFB; height:30px; width:100%; position:absolute; left:0; bottom:0;}
.quick_links_panel .toggle{ background:url(http://img1.51aika.com/abl/Images/sprites.png) no-repeat -160px -62px; margin:-10px 0 0 -10px; height:20px; width:20px; position:absolute; left:50%; top:50%; -webkit-transition:all linear .4s; -moz-transition:all linear .4s; -ms-transition:all linear .4s; transition:all linear .4s;}
:root .quick_links_panel .toggle{ background-position:-160px -82px; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg);}
.quick_links_min .quick_links_panel .toggle{ background-position:-160px -82px;}
:root .quick_links_min .quick_links_panel .toggle{ background-position:-160px -82px; -webkit-transform:rotate(-360deg); -moz-transform:rotate(-360deg); -ms-transform:rotate(-360deg); transform:rotate(-360deg);}
.quick_links{ width:100%; position:absolute; left:0; top:-77px; -webkit-transition:top ease .4s; -moz-transition:top ease .4s; -ms-transition:top ease .4s; transition:top ease .4s;}
.quick_links_allow_gotop .quick_links, .quick_links_min .quick_links_allow_gotop .quick_links{ top:0;}
.quick_links_min .quick_links{ top:32px;}
.quick_links a{ display:block; border:1px solid #fff; border-bottom-color:#edecec; color:#2fa7c8; font-size:12px; margin:0; padding:8px 0; text-align:center;}
.quick_links a:hover, .quick_links a.current{ background-color:#2fa7c8; border-color:#2fa7c8; color:#fff;}
.quick_links i{ display:inline-block; background:url(http://img1.51aika.com/abl/Images/sprites.png) no-repeat 0 -182px; cursor:pointer; height:38px; width:38px; vertical-align:top;}
.quick_links a:hover i, .quick_links a.current i{ background-position:0 -220px;}
.quick_links .message{ background-position:-190px -182px;}
.quick_links a:hover .message, .quick_links a.current .message{ background-position:-190px -220px;}
.quick_links .cart{ background-position:-38px -182px;}
.quick_links a:hover .cart, .quick_links a.current .cart{ background-position:-38px -220px;}
.quick_links .view{ background-position:-76px -182px;}
.quick_links a:hover .view, .quick_links a.current .view{ background-position:-76px -220px;}

.quick_links .notice{ background-position:-76px -182px;}
.quick_links a:hover .notice, .quick_links a.current .notice{ background-position:-76px -220px;}

.quick_links .qa{ background-position:-114px -182px;}
.quick_links a:hover .qa, .quick_links a.current .qa{ background-position:-114px -220px;}
.quick_links .top{ background-position:-152px -182px;}
.quick_links_min .quick_links .top{ background-position:-180px -62px; height:20px; width:20px;}
.quick_links a:hover .top, .quick_links a.current .top{ background-position:-152px -220px;}
.quick_links_min .quick_links a:hover .top, .quick_links_min .quick_links a.current .top{ background-position:-180px -82px;}
.quick_links span{ display:block; cursor:pointer; padding-top:3px; height:1.5em; width:100%; overflow:hidden; word-break:break-all; word-wrap:break-word; text-overflow:ellipsis;}
.quick_links .num, .quick_links .num b,
.quick_links_pop .num, .quick_links_pop .num b{ display:inline-block; color:#ff3399; padding-right:6px; vertical-align:top; border-radius:3px; font-size:14px; padding:3px}
.quick_links_pop .num{color:#fff; cursor:pointer; font:12px/18px Arial; margin-left:6px; padding:0 0 0 6px; vertical-align:middle;}
.quick_links .num{background:#ff3399; color:#fff; cursor:pointer; font:12px/18px Arial; margin-left:6px; width:16px; height:16px; vertical-align:middle; font-size:13px; border-radius:50%;behavior: url("/pie/pie.htc")}
.quick_links .num{ margin:-40px 0 0; position:absolute; left:38px;}
.quick_links a:hover .num, .quick_links a.current .num{ background-position:-220px -82px;}
.quick_links a:hover .num b, .quick_links a.current .num b{ background-position:100% -122px;}

/* quick_links_pop */
.quick_links_pop, .quick_links_pop .fix_bg{ background:#fcfcfc; border:1px solid #dfdfdf; border-radius:3px;}
.quick_links_pop{ box-shadow:0 2px 8px rgba(0,0,0,.2); margin-right:6px; position:absolute; bottom:0; right:100%;}
.quick_links_pop .arrow, .quick_links_pop .arrow i{ display:none; border-color:transparent #ddd; border-style:dashed solid; border-width:12px 0 12px 12px; font-size:0; height:0; width:0; position:absolute; left:100%; top:12px;}
.quick_links_pop .arrow i{ border-color:transparent #f9fafc; margin:-12px 0 0 -13px; left:0; top:0;}
.quick_links_pop .fix_bg{ display:none; border-top-width:0; border-radius:0 0 3px 3px; margin:0 0 -4px -250px; height:2px; width:500px; overflow:hidden; position:absolute; bottom:0; left:50%;}
.quick_links_pop .title{ background:#fdfdfe; background:-moz-linear-gradient(top, #fdfdfe 0%, #f5f7fb 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfe), color-stop(100%,#f5f7fb)); background:-webkit-linear-gradient(top, #fdfdfe 0%,#f5f7fb 100%); background:-o-linear-gradient(top, #fdfdfe 0%,#f5f7fb 100%); background:-ms-linear-gradient(top, #fdfdfe 0%,#f5f7fb 100%); background:linear-gradient(to bottom, #fdfdfe 0%,#f5f7fb 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfe', endColorstr='#f5f7fb',GradientType=0); border-bottom:1px solid #DDD; border-radius:3px 3px 0 0; height:50px;}
.quick_links_pop .title h3{ color:#2fa7c8; font-size:16px; font-weight:normal; line-height:24px; padding:13px 15px; height:24px;}
.quick_links_pop .title i{ display:inline-block; background:url(http://img1.51aika.com/abl/Images/sprites.png) no-repeat -140px -34px; margin:-3px 6px 0 0; height:22px; width:30px; vertical-align:middle; *margin-top:0;}
.quick_links_pop .pop_panel{ font-size:12px;}
.quick_cart_list, .quick_history_list, .quick_links_pop .links, .quick_my_qlinks{ width:256px;}
.quick_cart_list .user_cart_inner, .quick_history_list .history_slider{ display:block; border:0; margin:0; position:static;}


.quick_history_list .title i{ background-position:-170px -34px;}

.quick_cart_list .user_cart_inner li{ padding:10px 0 10px 50px;}
.quick_cart_list .user_cart_inner .pic{margin-left:-50px;}
.quick_cart_list .user_cart_inner .tit{ height:1.5em; }
.quick_leave_message .tstit { font-size:14px; height:30px;}
.quick_leave_message,.quick_leave_message .links{ width:320px;}
.quick_leave_message .title i{ background-position:-160px 0;}
.quick_leave_message .types{ font-size:0; position:absolute; left:148px; top:18px; white-space:nowrap;}
.quick_leave_message .types input, .quick_leave_message .types label{ font-size:12px; margin-right:20px; vertical-align:middle; white-space:nowrap;}
.quick_leave_message .types input{ margin:-2px 3px 0 0; height:13px; width:13px; *margin-top:0;}
.quick_leave_message .txt{ padding:10px 0;}
.quick_leave_message .txt textarea{ display:block; background:#fff; border:1px solid #e8e8e8; border-radius:3px; box-shadow:0 1px 0 #fff, inset 0 1px 4px rgba(0,0,0,.1); margin:0 auto; padding:8px; height:68px; width:90%;}
.quick_leave_message .token{ padding:0 0 14px 16px; height:26px;}
.quick_leave_message .token input{ background:#fff; border:1px solid #ddd; padding:3px 4px; width:76px; vertical-align:middle;}
.quick_leave_message .token img{ margin-left:5px; vertical-align:middle;}
.quick_leave_message .btnsmsg{ float:right; margin-top:-42px; padding-right:16px;}
.quick_leave_message .btn{ background-position:0 -356px; cursor:pointer; font-size:0; padding-left:20px; text-shadow:0 1px 0 #355ba9; overflow:visible;}
.quick_leave_message .btn:hover{ background-position:0 -386px;}
.quick_leave_message .btn span{ background-position:100% -356px; font-size:12px; padding-right:20px; *height:29px;}
.quick_leave_message .btn:hover span{ background-position:100% -386px;}
.quick_links_pop .no_data{ color:#333; font-size:14px; padding:35px 10px; text-align:center;}
.quick_links_pop .no_data i{ display:inline-block; background:url(http://img1.51aika.com/abl/Images/cart_new.png) no-repeat 0 -188px; margin:0 10px 0 0; height:36px; width:60px; vertical-align:middle;}
.quick_links_pop .links li{ border-top:1px solid #f1f1f1; vertical-align:top;}
.quick_links_pop .links a{ display:block; background:#FCFCFC; color:#333; font-size:14px; padding:10px 15px;}
.quick_links_pop .links a:hover{ background-color:#F2F3F4; color:#4467a7;}
.quick_links_pop .links .tips{ float:right; color:#61c2ed; font-size:12px;}
.quick_my_qlinks .title i{ background-position:-200px 0; height:22px; width:22px;}
.quick_message_list .title i{ background-position:-200px -34px; height:22px; width:22px;}
.quick_message_list .no_data i{ background-image:url(http://img1.51aika.com/abl/Images/quick_links_no_msg.png); background-position:0 0; height:45px; width:62px;}
.quick_notice_list .title i{ background-position:-160px -102px; height:22px; width:22px;}

/*pop_window*/
.pop_window_msg  {box-shadow:0 2px 8px rgba(0,0,0,.2); margin-right:6px; position: fixed; bottom:-100%; right:5px; width:300px; z-index:9999}
.pop_window_msg, .pop_window .fix_bg{ background:#fcfcfc; border:1px solid #dfdfdf; border-radius:3px;}
.pop_window_msg .arrow, .quick_links_pop .arrow i{ display:none; border-color:transparent #ddd; border-style:dashed solid; border-width:12px 0 12px 12px; font-size:0; height:0; width:0; position:absolute; left:100%; top:12px;}
.pop_window_msg .arrow i{ border-color:transparent #f9fafc; margin:-12px 0 0 -13px; left:0; top:0;}
.pop_window_msg .fix_bg{ display:none; border-top-width:0; border-radius:0 0 3px 3px; margin:0 0 -4px -250px; height:2px; width:500px; overflow:hidden; position:absolute; bottom:0; left:50%;}
.pop_window_msg .title{ background:#fdfdfe; background:-moz-linear-gradient(top, #fdfdfe 0%, #f5f7fb 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfe), color-stop(100%,#f5f7fb)); background:-webkit-linear-gradient(top, #fdfdfe 0%,#f5f7fb 100%); background:-o-linear-gradient(top, #fdfdfe 0%,#f5f7fb 100%); background:-ms-linear-gradient(top, #fdfdfe 0%,#f5f7fb 100%); background:linear-gradient(to bottom, #fdfdfe 0%,#f5f7fb 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfe', endColorstr='#f5f7fb',GradientType=0); border-bottom:1px solid #DDD; border-radius:3px 3px 0 0; height:50px; position:relative}
.pop_window_msg  .toggle{ background:url(http://img1.51aika.com/abl/Images/sprites.png) no-repeat -160px -62px; height:20px; width:20px; position:absolute; right:10px; top:15px; -webkit-transition:all linear .4s; -moz-transition:all linear .4s; -ms-transition:all linear .4s; transition:all linear .4s; font-size:0}

.pop_window_msg .title h3{ color:#2fa7c8; font-size:16px; font-weight:normal; line-height:24px; padding:13px 15px; height:24px;}
.pop_window_msg .title i{ display:inline-block; background:url(http://img1.51aika.com/abl/Images/sprites.png) no-repeat -200px -34px; margin:-3px 6px 0 0; height:22px; width:22px; vertical-align:middle; *margin-top:0;}
.pop_window_msg .pop_panel{ font-size:12px; padding:15px;}
.pop_window_msg .pop_panel p { font-size:14px; line-height:26px; text-indent:2em;}

.pop_window_msg .links { padding:20px 0 20px 25px; margin-bottom:20px;}
.pop_window_msg .links ul li { float:left; margin-right: 15px;}
.pop_window_msg .links ul li a { height:35px; line-height:35px; padding:0 20px; color:#fff; font-size:16px; display:inline-block}
.pop_window_msg .links ul li a.ok { background:#F2008A; border-bottom:solid 1px #AE0C68; border-right:solid 1px #AE0C68;}
.pop_window_msg .links ul li a.no { background:#4BBDCE; border-bottom:solid 1px #2C647A; border-right:solid 1px #2C647A}

/*pop_window*/
.pop_kehuser_msg  {box-shadow:0 2px 8px rgba(0,0,0,.2); margin-right:6px; position: fixed; bottom:100px; right:5px; width:300px; z-index:9999; display:none}
.pop_kehuser_msg, .pop_window .fix_bg{ background:#fcfcfc; border:1px solid #dfdfdf; border-radius:3px;}
.pop_kehuser_msg .arrow, .quick_links_pop .arrow i{ display:none; border-color:transparent #ddd; border-style:dashed solid; border-width:12px 0 12px 12px; font-size:0; height:0; width:0; position:absolute; left:100%; top:12px;}
.pop_kehuser_msg .arrow i{ border-color:transparent #f9fafc; margin:-12px 0 0 -13px; left:0; top:0;}
.pop_kehuser_msg .fix_bg{ display:none; border-top-width:0; border-radius:0 0 3px 3px; margin:0 0 -4px -250px; height:2px; width:500px; overflow:hidden; position:absolute; bottom:0; left:50%;}
.pop_kehuser_msg .title{ background:#fdfdfe; background:-moz-linear-gradient(top, #fdfdfe 0%, #f5f7fb 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfe), color-stop(100%,#f5f7fb)); background:-webkit-linear-gradient(top, #fdfdfe 0%,#f5f7fb 100%); background:-o-linear-gradient(top, #fdfdfe 0%,#f5f7fb 100%); background:-ms-linear-gradient(top, #fdfdfe 0%,#f5f7fb 100%); background:linear-gradient(to bottom, #fdfdfe 0%,#f5f7fb 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfe', endColorstr='#f5f7fb',GradientType=0); border-bottom:1px solid #DDD; border-radius:3px 3px 0 0; height:50px; position:relative}
.pop_kehuser_msg  .toggle{ background:url(http://img1.51aika.com/abl/Images/sprites.png) no-repeat -160px -62px; height:20px; width:20px; position:absolute; right:10px; top:15px; -webkit-transition:all linear .4s; -moz-transition:all linear .4s; -ms-transition:all linear .4s; transition:all linear .4s; font-size:0}

.pop_kehuser_msg .title h3{ color:#2fa7c8; font-size:16px; font-weight:normal; line-height:24px; padding:13px 15px; height:24px;}
.pop_kehuser_msg .title i{ display:inline-block; background:url(http://img1.51aika.com/abl/Images/sprites.png) no-repeat -160px -102px; margin:-3px 6px 0 0; height:22px; width:22px; vertical-align:middle; *margin-top:0;}
.pop_kehuser_msg .pop_panel{ font-size:12px; padding:15px;}
.pop_kehuser_msg .pop_panel img { float:left; padding:3px; border:solid 1px #f0f0f0; margin-right:10px;}
.pop_kehuser_msg .pop_panel p { font-size:14px; line-height:26px; text-indent:2em;}

.pop_kehuser_msg .links { padding:20px 0 20px 25px; margin-bottom:20px;}
.pop_kehuser_msg .links ul li { float:left; margin-right: 15px;}
.pop_kehuser_msg .links ul li a { height:35px; line-height:35px; padding:0 20px; color:#fff; font-size:16px; display:inline-block}
.pop_kehuser_msg .links ul li a.ok { background:#F2008A; border-bottom:solid 1px #AE0C68; border-right:solid 1px #AE0C68; width:180px; text-align:center}
.pop_kehuser_msg .links ul li a.no { background:#4BBDCE; border-bottom:solid 1px #2C647A; border-right:solid 1px #2C647A}

.nostart { display:inline-block; background:url(http://img1.51aika.com/abl/Images/start.png)  0 2px; width:70px; height:17px; position:relative}
.nostart .width0,.nostart .width1,.nostart .width2,.nostart .width3,.nostart .width4,.nostart .width5 { display:inline-block; background:url(http://img1.51aika.com/abl/Images/start.png) 0 -15px; width:0; height:14px;}
.nostart .width0 { width:0%}
.nostart .width1 { width:20%}
.nostart .width2 { width:40%}
.nostart .width3 { width:60%}
.nostart .width4 { width:80%}
.nostart .width5 { width:100%}

.click_num { position:absolute; left:0; top:2px; z-index:10}
.click_num ul li{ float:left; width:14px; height:14px; cursor:pointer}

.vip01 {
	background-image: url(http://img1.51aika.com/abl/Images/icon_vip.gif);
	border: 1px solid #F3187B;
	padding: 1px 9px 2px 64px;
	_padding: 2px 9px 2px 64px;
	line-height: 12px;
	background-repeat: no-repeat;
	background-position: left center;
	font-family: verdana;
	font-size: 12px;
	color: #2e2e2e;
	height: 12px;
	overflow: hidden;
}
.vip01 b { color:#F3187B;}
.ps01{margin: 3px 0 0 20px;}
.vip02 {
	height: 45px;
	width: 37px;
	display: block;
	overflow: hidden;
	background-image: url(http://img1.51aika.com/abl/Images/icon_vip02.gif);
	position: absolute;
	top: 0px;
	left: 145px;
	z-index: 998;
	float: left;
}
.vip03 {
	height: 28px;
	width: 65px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 61px;
	z-index: 998;
	float: left;
	color: #fff;
	padding: 3px;
	background-color: #f3187b;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-align: center;
	line-height:14px;
}
.vip_hl {
	font-weight: bold;
	color: #FFFF66;
}
.vip04 {
	height: 43px;
	width: 68px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 61px;
	z-index: 998;
	float: left;
	color: #fff;
	padding-top: 3px;
	text-align: center;
	line-height: 14px;
	background-image: url(http://img1.51aika.com/abl/Images/vip04.png);
	background-repeat: no-repeat;
}
.vip05 {
	height: 46px;
	width: 68px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 61px;
	z-index: 998;
	float: left;
	color: #fff;
	padding-top: 3px;
	text-align: center;
	line-height: 14px;
	background-image: url(http://img1.51aika.com/abl/Images/vip05.png);
	background-repeat: no-repeat;
}
.vip06 {
	height: 46px;
	width: 68px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 110px;
	z-index: 998;
	float: left;
	color: #fff;
	padding-top: 3px;
	text-align: center;
	line-height: 14px;
	background-image: url(http://img1.51aika.com/abl/Images/vip05.png);
	background-repeat: no-repeat;
}
.vip07 {
	height: 46px;
	width: 68px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 110px;
	z-index: 998;
	float: left;
	color: #fff;
	padding-top: 3px;
	text-align: center;
	line-height: 14px;
	background-image: url(http://img1.51aika.com/abl/Images/vip06.png);
	background-repeat: no-repeat;
}

.status00 {display:block; 
	position:absolute;
	bottom:0px;
	left:0px;background-color:#97cf48;color:#fff;height:30px; width:380px; text-align:center; font-size:16px;padding:3px 0 1px 0; -moz-opacity:0.8; opacity:0.8; filter:alpha(opacity=80);font-weight:bold;}
.status00 p {font-size:14px; line-height:18px;font-weight:normal;}

.status10 {
	height: 31px;
	width: 94px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 20px;
	right: 0px;
	z-index: 998;
	float: left;
	padding-top: 3px;
	line-height: 14px;
	background-image: url(http://img1.51aika.com/abl/Images/icon_ax00.png);
	background-repeat: no-repeat;
}
.snum {display:block; color:#24acc7;}